<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/htmx.org@2.0.1"
		integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
		crossorigin="anonymous"></script>
	<title>Hello World</title>
</head>

<body>
	<header class="container">
		<hgroup>
			<h1>Hello World, from my new website (updated)!</h1>
		</hgroup>
	</header>

	<button hx-get="/dynamic-content" hx-target="#dynamic-area">Load Content</button>
	<div id="dynamic-area"></div>

</body>

</html>
